/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	/* 	margin: 0 auto -60px; */
}

#footer a {
	color: white !important;
}

#footer {
	margin-left: -20px;
	margin-right: -20px;
	position: relative;
	top: 1px;
	width: 100%;
	clear: both;
	margin: 0;
	text-align: center;
	color: #CCC;
	background-color: #1abc9c;
	background-image: -ms-radial-gradient(center top, circle farthest-side, #55e7ca 0%,
		#1abc9c 100%);
	background-image: -moz-radial-gradient(center top, circle farthest-side, #55e7ca 0%,
		#1abc9c 100%);
	background-image: -o-radial-gradient(center top, circle farthest-side, #55e7ca 0%, #1abc9c
		100%);
	background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0,
		#55e7ca), color-stop(1, #1abc9c));
	background-image: -webkit-radial-gradient(center top, circle farthest-side, #55e7ca 0%,
		#1abc9c 100%);
	background-image: radial-gradient(circle farthest-side at center top, #55e7ca 0%, #1abc9c
		100%);
	min-height: 100%;
	overflow: hidden;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	-o-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}

#footer h3,h4,h5 {
	color: #E69507 !important;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		/* 		margin-left: -20px; */
		/* 		margin-right: -20px; */
		/* 		padding-left: 20px; */
		/* 		padding-right: 20px; */

	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap>.container {
	padding-top: 60px;
}

code {
	font-size: 80%;
}

#footer .container {
	height: 100% !important;
}

#footer .container a {
	padding-top: 15px;
}

.footer-container {
	padding-top: 10px;
	font-size: 12px;
}

#faq_link_login_fancy {
	display: none;
}